%p
  In the ancient history, it is believed, that there were four Varanas, known as Kshatriya, Brahmin, Vaishya 
  and Shudra. The Brahmakshatriyas were a creation from the Kshatriyas and the same Kshatriyas later 
  came to be known as Brahmakshatriyas.
%p
  It is widely known that Bhagwan Parshu Ram had vowed to eliminate the Kshatriyas from the earth.
  The story goes like this, one day Raja Sahastrarjun went to the forest for hunting. After traveling a 
  long distance, he reached the ashram of Rishi Jamdagini (Father of Parshu Ram). At the ashram Raja 
  Sahastrarjun forcibly took away Kamdhenu cow. When Parshu Ram returned to the ashram, he found 
  his father totally dismayed. Parshu Ram lost his temper, and reasoned with Raja but he resorted to war 
  with him. Parshu Ram slained the King and got back the Kamdhenu cow. Raja Sahastrarjun had 100 sons; 
  they pledged to take revenge of their father's death. They killed Rishi Jamdagni. On his return from the 
  jungle Parshu Ram got agitated over the killing of his father and went to kill Raja's sons. He could kill 95 
  of them. The rest escaped in the jungle, but Parshu Ram had vowed to eliminate the Kshatriyas from the 
  earth. 
%p
  In search of the Kshatriyas, Parshu Ram entered Raja Rattansen's state in Sindh, which was, then, known 
  as, Sindhu-Dweep. Then king of Sindh – Raja Rattansen lost in the war with Parshu Ram and had to 
  escape along with his wives in the jungle and took shelter in an ashram run by Rishi Dadhichi, with the 
  conditions that they will not cross the boundary of the ashram, and accept whatever food was available 
  there. All the five queens delivered a son each there. They were named as Jaisen, Binduman, Vishal, 
  Chandershal and Bharat by the Rishi. The children were educated in Vedas and Shastras. One day Raja 
  Rattansen went to jungle for hunting. Parshu Ram killed the Raja. This gave Parshu Ram a clue that 
  Raja's family must be there in the same jungle. He started searching for them. The queens accepted sati 
  when the Raja's pyre was lit. The Rishi then took over to be the guardian of the princes'.
%p
  After some years, Parshu Ram reached Rishi Dadhichi's ashram and inquired about the princes'. Rishi 
  said that the boys were Rishi Kumars. Parshu Ram did not believe it and put them to tests which they 
  qualified. Parshu Ram was still doubtful. He asked the Rishi to have food with all the five boys in the 
  same utensil, if the boys were really Brahmins. Rishi drew a line in the utensil before starting the meal 
  to separate the food for the boys and Parshu Ram got convinced. Parshu Ram took Jaisen with him for 
  training him in dhanur-vidhya (bow & arrow). Jaisen used to guard the ashram. Parshu Ram expressed 
  his pleasure, for the services rendered by Jaisen and offered to impart him education in bow & arrow as 
  well as arms. 
%p
  One day, Parshu Ram was having severe headache, he put his head in Jaisen's lap, and was sleeping, 
  a scorpion bit Jaisen's leg. It caused severe pain, but he kept mum so that Parshu Ram's sleep would 
  not get disturbed. When the wound started bleeding profusely, Jaisen's leg trembled. This disturbed 
  Parshu Ram's sleep. He woke up and asked the reason for the bleeding. Jaisen explained the incident 
  and expressed regrets. Parshu Ram was enraged and said that the hot blood must be of a Kshatriya. He 
  again expressed doubt over the identity of the boy and to this Jaisen accepted and seeked pardon. This 
  put Parshu Ram in a quandary. He started thinking that Jaisen had qualified in Vedas and Shastras, so he 
  must be a Brahmin and hence, he should not be killed. But by doing this Parshu Ram would be let down 
  in front of the pledge he had taken. Parshu Ram cursed Jaisen that he would forget all the Shastra-vidya, 
  that he learnt from him. The guru mantra given by Rishi Dadhichi with a condition, that the Kshatriya 
  boys will not harass any downtrodden and help the poor and needy. This empowered Jaisen to regain all 
  his education thus Kshatriyas became Brahma-kshatriyas.
%p
  After this, the Rishi took Jaisen and his brothers to their Kuldevi - Hinglaj Mata temple in the caves of 
  Saptdweep. He cautioned that Kuldevi Hinglaj Mata should be worshipped to avoid facing any problems 
  and also that Saraswat Brahmins should also be respected similarly. 
%p
  Later some of the generations started introducing themselves as Khatris. But the fact is that Kshatriyas 
  and Khatris are basically Brahmkshatriyas. Their Kuldevi is Sri Hinglaj Mata, Kuldev Sri Varun dev and 
  Kulbrahmins are Saraswat Brahmins. Thread Dyeing-Colouring, Cloth Dyeing, Hand Block Printing, 
  Carpentary was the main profession of Brahmakshatriyas. They were popularly known as 
  %strong
    %em “Khatis”.
%p
  The name Hinglaj itself means Reddish. Hingula is color of Sindhur and/or Blood.
%p
  Once upon a time a demon named Andhakasura spread his rule all over the world. On the advice of 
  Lord Vishnu, all Devatas went to lord Shiva and prayed for defeat of Andhakasura. Actually Andhakasura 
  was actually the son of Lord Shiva. He was born when Shakti played with the third eye of Shiva, for 
  fun, while he was doing Meditation. He was gifted to Hiranyaksha as a boon. Andhakasura unknown 
  of Lord Shiva living in Mandara giri, went for a vacation there. Andhakasura saw Parvathi. Attracted 
  with her astonishing beauty, he sent an army to capture her. Demon Andhakasura had a unique power. 
  Each drop of his blood which touched the earth in battlefield would give birth to a new Andhakasura, 
  with equal energy. Lord Shiva took the form of Maha Bhairava to conquer Andhakasura and pierced 
  his chest, and innumerable new Andhakasuras generated. They covered the entire battle field. Shiva 
  was fighting with all of them almost single-handedly. This caused sweat to come from Shiva's fore-head 
  which fell on ground. From that sweat, Charchika [one who is sprinkled all over her body with blood] 
  and Mangala [one who gives all happiness] took birth. They ate all Andhakasuras. They drank all blood, 
  without leaving a single drop. They turned the war towards Shiva within seconds. Shiva turned the main 
  Andhakasura to ashes with his third eye.
%p
  Lord Shiva gave a boon to Mangala that she will get a planetary position in the sky, as Mars. He told 
  Charchika that she will be worshipped by all human beings and deities as an incarnation of Adi shakti. 
  Charchika went to Haingulatadri and then-onwards called as Hinglaj.
