.fb-page{"data-adapt-container-width" => "true", "data-height" => "", "data-hide-cover" => "false", "data-href" => "https://www.facebook.com/sbk.panch/", "data-show-facepile" => "false", "data-small-header" => "false", "data-tabs" => "timeline,messages,events", "data-width" => ""}
  %blockquote.fb-xfbml-parse-ignore{:cite => "https://www.facebook.com/sbk.panch/"}
    %a{:href => "https://www.facebook.com/sbk.panch/"} Sbkpanch