%p
  Many a household in our community worshipped Varahi Mata with their own family Idol installed by 
  ancestors. During the Partition of India, we migrated to Mumbai and brought these idols as the only 
  form of our existence. It is known that Maa Varahi's statue was brought later from Pakistan by the 
  elders of our community. Initially Manai 
  %strong
    %em (Man ji Murad Puri Karanwari Mata jo Sthan)
  was built near 
  the well in B K Chawl. Old Manai is still present. Through the help of generous Donations from members 
  of our community, we built the new Manai in B K Society in 1961 and today we are fortunate to be a 
  part of the celebrations of its Golden Jubilee.
%p
  Through the journey of 50 glorious years, community members have been very kind and thoughtful 
  while contributing to the good cause. The services were offered in the form of 
  %strong
    %em
      Tan, Man and Dhan 
  as per every individual's capacity. We celebrated Silver jubilee in 1986-87, Silver coating was done 
  on throne and today a modern look to Interior and exterior is done with the help of Donations of our 
  community members. It is with Mata's blessings bestowed on all of us, hard-work and dedication of the 
  members, that we have prospered and achieved success, in spite of personal set back of partition in 
  1947.

