%p
  Varahi Maa is one of the Matrikas, a group of seven mother goddesses in the Hindu religion. With the 
  head of a sow, Varahi is the Shakti (feminine energy, or sometimes, consort) of Varaha, the boar Avatar 
  of the Lord Vishnu.
%p
  It is well described in Devi Mahatmya in context of the Shumbha-Nishumbha Vadh from the Markandeya 
  Purana religious texts, the Matrikas Goddesses appear as shaktis from the bodies of the Gods. According 
  to a latter episode of the Devi Mahatmya that deals with the killing of the demon Raktabija, the Mother 
  Goddess Durga creates the Matrikas from herself and with their help slaughters the demon army. When 
  the demon Shumbha challenges Durga to single combat, she absorbs the Matrikas into herself. In the 
  Vamana Purana, the Matrikas arise from different parts of the Divine Mother Chandika, Varahi arises 
  from Chandika's back.
%p
  The Matsya Purana tells a different story of the origin of Varahi. Varahi, with other Matrikas, is created 
  by Shiva to help him kill the demon Andhakasura, who has the ability to regenerate from his dripping blood.
%p
  Varahi is the goddess of the Earth. It is proven from the lives of several Varahi devotees that those 
  who believe and surrender to her are sure to be blessed with a house or land of their own. She is 
  the "Bhoomi Devi".
%p
  %strong Most Suited Time, Days and Items for Varahi Pooja: 
  %dl
    %dt
      Time:
    %dd
      The best time to do pooja for Varahi is Night. Midnight prayers are most suited for immediate solutions.
    %dt
      Days:
    %dd
      Navarathri, Ashtami, Panchami are Varahi's days. Tuesdays and Fridays are best suited for her pooja.
    %dt
      Items:
    %dd
      %dl.dl-horizontal
        %dt Morning Pooja:
        %dd Chandanam (Sandalwood)
        %dt Evening Pooja:
        %dd Kumkumam (Deep Red)
        %dt Night Pooja:
        %dd Kurudhi (Red Kumkumam mixed in water), Kumkumam
        %dt Pref. colours (Saree):
        %dd Gold/Yellow and Red
        %dt Pref. flowers:
        %dd Pink Lotus, White Lotus and Pomegranate Flowers
        %dt Varahi's Mantra:
        %dd
          %ul.unstyled
            %li
              %em AIM GLAUM AIM NAMO BHAGAVATI VARTALI VARTALI VARAHI VARAHI
            %li
              %em VARAHAMUKHI VARAHAMUKHI ANDHE ANDHINI NAMA RUNDHE RUNDHINI NAMAH JAMBHE JAMBHINI
            %li
              %em NAMAH MOHE MOHINI NAMA STAMBHE STAMBHINI NAMAH SARVADUSHTA PRADADUSHTANAM
            %li
              %em SARVESHAM SARVABAK CHITTA CHAKSHURMUKHAGATIJIHVASTAMBHAM KURU KURU SHIGHRAM
            %li
              %em RASHYAM KURU KURU AIM GLAUM THAH THAH THAH THAH HUM PHAT SVAHA.
