- content_for :title do
  Activities
  
- content_for :navbar_activities do
  %li.active
    %a{:href => "/activities"} Activities

- content_for :subheader do
  .page-header
    %h3
      Activities 
      %small of the Panchayat

.row-fluid
  .span10.offset1
    %dl.activities
      %dt
        1. Present activities of the Panchayat :
      %dd
        %ul
          %li Celebration of festivals like Holi, Dussera, Varahi Jayanti, Darshan Raat, Shiv Ratri Havan.
          %li Holding of family get-together - popularly known as Nani
          %li 
            Distribution of certificates and awards to children of members on successful completion of academic year in the 
            first attempt from V Std. to Post-Graduation on Dussera. Forms are generally distributed and collected during 
            August
          %li Distribution of note books to students during June-July every year
          %li Medical assistance to the member and his/her family
          %li Giving Manai premises on hire for family functions
          %li Giving old Manai in B.K. Chawl on hire to outstation community members
          %li Giving utensils and/or furniture on hire for family functions
          %li 
            Distribution of Prasad -
            %strong
              %em Saanta
            annually on the occasion of Dassera
          %li
            Collection of
            %strong
              %em Laga
            annually from members and also on occasion of  Marriage of a Son, Birth of a Son, Purchase of Property, etc.
          %li Distribution of Lani sponsored by community member.
      %dt
        2. Our Area of Operation :
      %dd
        Though our area is from Dahisar to Goregaon, we cater to people from outside our area
      %dt
        3. Timing of Manai for Darshan :
      %dd
        Morning 6.30 am to 11.30 am and Evening 5.30 pm to 8.30 pm
      %dt
        4. For Collection of Utensils and Booking of Manai :
      %dd
        Morning 8.00 am to 9.00 am and Evening 6.00 pm to 7.00 pm
      %dt
        5. Aarti Timings :
      %dd
        Morning 7.30 am and Evening 7.00 pm every day
      %dt
        6. Email Address :
      %dd
        sbkpanch@gmail.com
      %dt
        7. SMS Services :
      %dd
        Contact Satish Jethmalani 9867410867 or Dharmesh Jethmalani 9920703080
      %dt
        8. For Donations :
      %dd
        Meet Treasurer/Secretary with prior appointment
      %dt
        9. Future Plans :
      %dd
        Holding Yoga Training Camps, Career Guidance Lectures for HSC/SSC Students, Building for OldAge/School/College,
        etc. & Database for Marriage Bureau
      %dt
        10. For Religious Ceremonies at Home, Offices :
      %dd
        %ul
          %li Padamlal Sharma, 9820455850
          %li Raju Maharaj, 9867888465
          %li Narayan H. Pania, 8097555198
      %dt
        11. Other Sister Institutions in the Community & their Activities :
      %dd
        %dl.unstyled
          %dt Sindhi B. K. Welfare Association :
          %dd
            %ul
              %li 
                Distribution of Scholarship to students passing SSC to Graduation, in first attempt with 50% or more 
                marks and pursuing further studies.
              %li Forms are generally distributed & collected between July-Oct every year.
          %dt
            B.K. Sports Club
          %dd
            %ul
              %li Holding of sports competition
              %li Giving premises for condolence meetings
              %li Hiring of premise for family functions
              %li Allowing B.K. Society to hold Ganpati Festival
          %dt
            B.K. Society
          %dd
            %ul
              %li Allows ground for holding Nani
              %li Budhabai Guna Hall on rent for family functions
          %dt
            B.K. Stree Mandal
          %dd
            %ul
              %li Distribution of scholarship for students passing SSC & HSC on first attempt with 60% or more marks. 
              %li Copy of certified marksheet collected during July-Oct every year.
              %li 
                Holding workshops for self skill development programmes like training on hair style, mehndi, chocolate 
                making, etc.
              %li Distribution of Lani
              %li Picnics
              %li Religious discourses in the evening 4-6 pm on 1st day of every month.
