- content_for :title do
  Contact
  
- content_for :navbar_contact do
  %li.active
    %a{:href => "/contact"} Contact

- content_for :subheader do
  .page-header
    %h1
      Contact

.row-fluid
  .span10.offset1
    
