- content_for :title do
  Credits

- content_for :subheader do
  .page-header
    %h3
      Credits

.row-fluid
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th{:width =>"50%"} Contribution
        %th Contributor
    %tbody
      %tr
        %td Inception of Website Concept
        %td 
          %ul.unstyled
            %li Dharmesh Jethmalani
            %li Haresh Godhia
      %tr
        %td Biblography (Compilation of History)
        %td Laxman Shani
      %tr
        %td Logo Design
        %td Ajay Lulia
      %tr
        %td Web Administration & Devlopment Coordinator
        %td Haresh Soneji
      %tr
        %td Tech Ninja
        %td Jai Madhav
      %tr
        %td Suggestion for Front End UX
        %td Prashant Sani
      %tr
        %td Reviews & Suggestions
        %td
          %ul.unstyled
            %li Ashok Chhatpar
            %li Ashok Soneji
            %li Bharat Jethmalani
            %li Dilip Jethmalani
            %li Lalit Kaku
            %li Pratap Lulia
            %li Satish Jethmalani
            %li Vasdev Lulia

