- content_for :title do
  Home
  
- content_for :navbar_home do
  %li.active
    %a{:href => "/"} Home

#myCarousel.carousel.slide
  %ol.carousel-indicators
    %li.active{ "data-target" => "#myCarousel", "data-slide-to" => "0"}
    %li{ "data-target" => "#myCarousel", "data-slide-to" => "1"}
    %li{ "data-target" => "#myCarousel", "data-slide-to" => "2"}
  .carousel-inner
    .item.active
      %img{:alt => "Shree Varahi Mata Temple at Kandivali", :src => "/assets/shree-varahi-mata-temple-at-kandivali.jpg"}/
      -#
        .carousel-caption
          %h1 Example headline.
          %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          %a.btn.btn-large.btn-primary{:href => "#"} Sign up today
    .item
      %img{:alt => "Shree Varahi Mata Temple at Ulhasnagar and Rajkot", :src => "/assets/shree-varahi-mata-temple-at-ulhasnagar-and-rajkot.jpg"}/
      -#
        .carousel-caption
          %h1 Another example headline.
          %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          %a.btn.btn-large.btn-primary{:href => "#"} Learn more
    .item
      %img{:alt => "Avatars of Shree Varahi Mata", :src => "/assets/avatars-of-shree-varahi-mata.jpg"}/
      -#
        .carousel-caption
          %h1 Another example headline.
          %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          %a.btn.btn-large.btn-primary{:href => "#"} Learn more

  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›
.row-fluid
  .page-header
    %h3
      Welcome
      %small
        to SBK Panch
  .row-fluid
    .span10.offset1
      %p 
        Greetings from Shree Taluka Borivali Sindhi Brahma Kshatriya Panchyat,
        We the members of the managing committee feel proud and privileged to introduce our web 
        site with first phase having basic information but lot for our bondage. It has been our endeavor 
        to excel in our efforts to project our Kuldevi Shree Varahi Mata and our Shree Taluka Borivali 
        Sindhi Brahma Kshatriya Panchayat to the World and to our own youngsters.
      %p
        With limited resources at our disposal, but with abundant talent of our young team of Committee 
        members and boys of our community who worked tireless, with full devotion of Service to the 
        community, we have been able to achieve this as FIRST phase of our site. We are quite confident 
        that you will find the site interesting and surely link us to your favorite browser. 
      %p 
        At the time of your reading this, we have already commenced our Second phase with much 
        better utilities for communication amongst members across the globe and that too from the 
        comfort of their Home, Office, 24x7 on mobile etc.
      %p 
        YES ! We are evolving and would certainly appreciate if you have any suggestions, 
        contributions by way of Photographs, Poems, which you feel that may be shared, Please come 
        forward and lets do it together because we always believed in TEAM work ( Together Everyone 
        Achieves More). 
      %p Looking forward to your continued patronage and valuable comments and suggestions.
      %p Admin Team of SBK Panch

:javascript
  $(document).ready(function(){
        $('.carousel').carousel();
  });
