*.rbc
*.sassc
*~
.*.swp
/tags
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/ruby
/vendor/bundle
/vendor/gems
/vendor/binstubs
/vendor/bundle_gems
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
bin/
pickle-email-*.html
