- content_for :title do
  New committee email

- content_for :subheader do
  .page-header
    %h2 New committee email

.row-fluid
  = link_to "<i class='icon-list'></i> Back".html_safe, committee_emails_path, :class => "btn btn-small pull-right"

= render 'form'
