- content_for :title do
  Show <%= singular_table_name %>

- content_for :subheader do
  .page-header
    %h2 Show <%= singular_table_name %>

.row-fluid
  = link_to "<i class='icon-pencil'></i>Edit".html_safe, edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => "btn btn-small pull-right", :style => "margin-left: 15px;"
  = link_to "<i class='icon-list'></i>Back".html_safe, <%= index_helper %>_path, :class => "btn btn-small pull-right"


%p#notice= notice

.form-horizontal
  %fieldset
  <% for attribute in attributes %>
    .control-group
      %label.control-label
        %b <%= attribute.human_name %>:
      .controls{:style => 'padding-top: 6px;'}
        = @<%= singular_table_name %>.<%= attribute.name %>
  <% end %>
