- content_for :title do
  New uom

- content_for :subheader do
  .page-header
    %h2 New uom

.row-fluid
  = link_to "<i class='icon-list'></i> Back".html_safe, uoms_path, :class => "btn btn-small pull-right"

= render 'form'
