%p
  ----------------------------------------------------------------------------------------------
%p
  %br/
  This is sent from visitor from Contact form:
  %br/
  Details of Visitor:
  %br/
  Name : #{@visitor_name}
  %br/
  Email : #{@visitor_email.html_safe}
  %br/
  Mobile: #{@visitor_mobile}
%p
  ----------------------------------------------------------------------------------------------
%p
  %h3 Message

%p
  = @message
