#fb-root
%script{:async => "", :crossorigin => "anonymous", :defer => "defer", :nonce => "kSvO5oIm", :src => "https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0&appId=200091246703552&autoLogAppEvents=1"}