%header
  %nav.navbar.navbar-fixed-top.navbar-inverse
    .container.layer1
      .row-fluid.logo.pull-center
        %a{:href => "/"}
          %img{:alt => "Sindhi Bhrama Kshatriya Panch", :src => "/assets/sbkpanch-title.png"}/
        %p#back-top>
          %a{:href => "#top"}>
            %img{:src => "/assets/top.jpg", :alt => 'Top'}
    .navbar-inner
      .container.layer2
        %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{ :href => "#"}
        .nav-collapse
          %ul.nav.pull-right
            - if content_for?(:navbar_home)
              = yield(:navbar_home)
            -else
              %li
                %a{:href => "/"} Home
            - if content_for?(:navbar_activities)
              = yield(:navbar_activities)
            -else
              %li
                %a{:href => "/activities"} Activities
            - if content_for?(:navbar_about_us)
              = yield(:navbar_about_us)
            -else
              %li
                %a{:href => "/about_us"} About us
            - if content_for?(:navbar_notifications)
              = yield(:navbar_notifications)
            - else
              %li
                %a{:href => "/current_notifications"}
                  - unless session[:notification_checked]
                    New Notifications
                    %img{ :src => "/assets/notification.svg.thumb.png", :style => "height:20px"}/
                  - else
                    Notifications
            
